.MyPortfolio_MainContainer {
  background-color: #FFF;
  border-radius: 8px;
  margin-top: 2rem;
  padding: 25px;

  .MyPortfolio_Header {
    display: flex;
    justify-content: space-between;

    h4 {
      font-size: 22px;
      font-weight: 600;
    }

    .ViewAll {
      cursor: pointer;
      color: #595959;
      align-items: center;
    }
  }
  
  .MyPortfolio_ImagesContainer {
    display: flex;
    margin-top: 2rem;

    .ImageContainer {
      width: 176px;
      height: 127px;
      overflow: hidden;
      position: relative;
    }
  }
}